/* Registration Form Css */
.logintop {
    margin-top: 20px;
}

.registertxt {
    margin: 5px;
    width:696px;
}

.registerbtn {
    width: 100px;
    margin-left: 489px;
}

.registercancelbtn {
    width:100px;
}

.registertagline {

    margin-bottom: 25px;
}

/* Login Form Css */
.logo {
    position: fixed;
    left: 486px;
    margin-top: 48px;
}

.loginform {
    top:5px;
}

.mainlogtxt {
    width: 364px;
    margin:5px;
}

.signuplink {
    margin-left: 69px;
}

.forgotpasswordlink {
    margin-left: 126px;
}


.tagline {
    margin-top: 238px;
}

.loginbutton{
    width: 100px;
    margin-left: 264px;
}

/* Admin Login Form Css */
.rdo {
    margin-right:244px;
}

.admin{
    margin-left:26px;
}


/* Forgot Password Customer */

.TextboxWidth {
    width:400px;
}

.submitbtn {
    margin-left: 332px;
}

/* Task Management Details */

.textboxassigntax {
    width: 450px;
    margin-bottom:6px; 
}

.assignbtn {
    margin:5px;
    width:100px;
    margin-left:248px;
}

.cancelbtn {
    width:100px;
}


/* Forgot Password Details */

.textbox {
    width:450px;
}

.button {
    margin-left:380px;
}